{
  "log": {
    "_recordingName": "iterate-datacenter",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "2bdeeaada963c0d4c437fd9156842f18",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/datacenter"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 56,
            "text": "[{\"name\":\"SDDC-Datacenter\",\"datacenter\":\"datacenter-3\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 128,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
