{
  "log": {
    "_recordingName": "get-vm-guest",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "bb563cd766d4d7e75a1c7d2e42d8a4a3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/vm/vm-22/guest/identity"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 197,
            "text": "{\"full_name\":{\"args\":[],\"default_message\":\"Ubuntu Linux (64-bit)\",\"id\":\"vmsg.guestos.ubuntu64Guest.label\"},\"name\":\"UBUNTU_64\",\"ip_address\":\"10.2.192.5\",\"family\":\"LINUX\",\"host_name\":\"NSX-Manager-1\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 390,
      },
      {
        "_id": "ac5ff687c8851466b9b979d883a50357",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/vm/vm-23/guest/identity"
        },
        "response": {
          "content": {
       [...]
