{
  "log": {
    "_recordingName": "iterate-hosts",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "24d88abca67d7f0f99285a7841df69df",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/host"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 97,
            "text": "[{\"host\":\"host-14\",\"name\":\"10.2.32.4\",\"connection_state\":\"CONNECTED\",\"power_state\":\"POWERED_ON\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 106,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
