{
  "log": {
    "_recordingName": "iterate-cluster",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "c3cfa9a21d6503f264b26be8a108581c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/cluster"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 82,
            "text": "[{\"drs_enabled\":true,\"cluster\":\"domain-c35\",\"name\":\"Cluster-1\",\"ha_enabled\":true}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 133,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
