{
  "log": {
    "_recordingName": "iterate-datastores",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b1ccf28731dfa77d185818abaf105cfb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-22-87-77.vmwarevmc.com/api/vcenter/datastore"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 243,
            "text": "[{\"datastore\":\"datastore-17\",\"name\":\"vsanDatastore\",\"type\":\"VSAN\",\"free_space\":8038656108366,\"capacity\":11399981015040},{\"datastore\":\"datastore-40\",\"name\":\"WorkloadDatastore\",\"type\":\"VSAN\",\"free_space\":8038656108366,\"capacity\":11399981015040}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 139,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
