{
    "log": {
        "_recordingName": "merged-recordings",
        "creator": {
            "comment": "persister:JupiterOneIntegationFSPersister",
            "name": "Polly.JS",
            "version": "5.1.1"
        },
        "entries": [
            {
                "_id": "83455271929107be964469383aa1d741",
                "request": {
                    "headers": [
                        {
                            "_fromType": "array",
                            "name": "authorization",
                            "value": "[REDACTED]"
                        }
                    ],
                    "method": "POST",
                    "queryString": [],
                    "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/session"
                },
                "response": {
                    "content": {
                        "mimeType": "application/json",
                        "size": 34,
                        "text": "\"[REDACTED]\""
                    },
                    "headers": [
                        {
                            "name": "vmware-api-session-id",
                            "value": "[REDACTED]"
                        },
                        {
                            "name": "content-type",
                            "value": "application/json"
                        }
                    ],
                    "status": 201,
                    "statusText": "Created"
                },
                "time": 941,
            },
            {
                "_id": "a2bc1cf990704a2c620e627d529ede9d",
                "request": {
                    "headers": [
                        {
                            "_fromType": "array",
                            "name": "vmware-api-session-id",
                            "value": "[REDACTED]"
                        }
                    ],
                    "method": "GET",
                    "queryString": [],
                    "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/vcenter/cluster/domain-c43"
                },
                "response": {
                    "content": {
                        "mimeType": "application/json",
                        "size": 50,
                        "text": "{\"name\":\"Cluster-1\",\"resource_pool\":\"resgroup-44\"}"
                    },
                    "headers": [
                        {
                            "name": "content-type",
                            "value": "application/json"
                        }
                    ],
                    "status": 200,
                    "statusText": "OK"
                },
                "time": 939,
            },
            {
                "_id": "d626ece5de065e4086bbf0bdaed6cb99",
                "request": {
                    "headers": [
                        {
                            "_fromType": "array",
                            "name": "vmware-api-session-id",
                            "value": "[REDACTED]"
                        }
                    ],
                    "method": "GET",
                    "queryString": [],
                    "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/vcenter/datacenter/datacenter-3"
                },
                "response": {
                    "content": {
                        "mimeType": "application/json",
                        "size": 132,
                        "text": "{\"datastore_folder\":\"group-s6\",\"host_folder\":\"group-h5\",\"network_folder\":\"group-n7\",\"name\":\"SDDC-Datacenter\",\"vm_folder\":\"group-v4\"}"
                    },
                    "headers": [
                        {
                            "name": "content-type",
                            "value": "application/json"
                        }
                    ],
                    "status": 200,
                    "statusText": "OK"
                },
                "time": 952,
            },
            {
                "_id": "3101296a8850cacec0f3fb04c04f2a4d",
                "request": {
                    "headers": [
                        {
                            "_fromType": "array",
                            "name": "vmware-api-session-id",
                            "value": "[REDACTED]"
                        }
                    ],
                    "method": "GET",
                    "queryString": [],
                    "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/vcenter/datastore/datastore-17"
                },
                "response": {
                    "content": {
                        "mimeType": "application/json",
                        "size": 147,
                        "text": "{\"accessible\":true,\"multiple_host_access\":false,\"name\":\"vsanDatastore\",\"type\":\"VSAN\",\"free_space\":7826362770327,\"thin_provisioning_supported\":true}"
                    },
                    "headers": [
                        {
                            "name": "content-type",
                            "value": "application/json"
                        }
                    ],
                    "status": 200,
                    "statusText": "OK"
                },
                "time": 940,
            },
            {
                "_id": "7a8de7ccb3638585c4c873cb31cffed4",
                "request": {
               [...]
