{
  "log": {
    "_recordingName": "iterate-networks",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "83455271929107be964469383aa1d741",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "\"[REDACTED]\""
          },
          "headers": [
            {
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 865,
      },
      {
        "_id": "47fe5655cc7d5114543fe25ce6243ad0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/vcenter/network"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2077,
            "text": "[{\"name\":\"vmc-hostswitch-DVUplinks-8\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-9\"},{\"name\":\"nsx-dlink0-vls\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-31\"},{\"name\":\"mgmt-app-network\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-38\"},{\"name\":\"vdrc-backplane-ls\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-53\"},{\"name\":\"mgmt-ls\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-26\"},{\"name\":\"sddc-cgw-network-1\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-37\"}[...]
