{
  "log": {
    "_recordingName": "iterate-networks",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "47fe5655cc7d5114543fe25ce6243ad0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-22-87-77.vmwarevmc.com/api/vcenter/network"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2144,
            "text": "[{\"name\":\"public-ls\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-30\"},{\"name\":\"o-vmk0-ls\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-25\"},{\"name\":\"vdrc-backplane-ls\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-54\"},{\"name\":\"vdrd-backplane-ls\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-55\"},{\"name\":\"vmk0-dvportgroup\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-34\"},{\"name\":\"mgmt-app-network\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-4[...]
