{
  "log": {
    "_recordingName": "iterate-networks",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "47fe5655cc7d5114543fe25ce6243ad0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/network"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2144,
            "text": "[{\"name\":\"vmcd-backplane-ls\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-57\"},{\"name\":\"sddc-cgw-network-1\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-46\"},{\"name\":\"none\",\"type\":\"STANDARD_PORTGROUP\",\"network\":\"network-45\"},{\"name\":\"vdrp-backplane-ls\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-53\"},{\"name\":\"vdrc-backplane-ls\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-54\"},{\"name\":\"public-ls\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-30\"},{\"name\":\"[...]
