{
  "log": {
    "_recordingName": "check-version",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "83455271929107be964469383aa1d741",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://vcenter.sddc-3-15-102-30.vmwarevmc.com/api/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "\"REDACTED\""
          },
          "headers": [
            {
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 418,
      },
      {
        "_id": "02095ab6fcc0e628014b5fc72860a958",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-15-102-30.vmwarevmc.com/rest/appliance/system/version/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 271,
            "text": "{\"value\":{\"summary\":\"VMware vCenter Server 8.0\",\"install_time\":\"2023-02-02T13:32:29.015Z\",\"product\":\"VMware vCenter Server\",\"build\":\"20432146\",\"releasedate\":\"October 11, 2022\",\"type\":\"vCenter Server with an embedded Platform Services Controller\",\"version\":\"8.0.0.10000\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 329,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
