{
  "log": {
    "_recordingName": "get-datacenter",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "d626ece5de065e4086bbf0bdaed6cb99",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/datacenter/datacenter-3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 132,
            "text": "{\"datastore_folder\":\"group-s6\",\"host_folder\":\"group-h5\",\"network_folder\":\"group-n7\",\"name\":\"SDDC-Datacenter\",\"vm_folder\":\"group-v4\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 209,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
