{
  "log": {
    "_recordingName": "get-datacenter",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "83455271929107be964469383aa1d741",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "\"[REDACTED]\""
          },
          "headers": [
            {
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 873,
      },
      {
        "_id": "d626ece5de065e4086bbf0bdaed6cb99",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/vcenter/datacenter/datacenter-3"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 132,
            "text": "{\"datastore_folder\":\"group-s6\",\"host_folder\":\"group-h5\",\"network_folder\":\"group-n7\",\"name\":\"SDDC-Datacenter\",\"vm_folder\":\"group-v4\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 952,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
