{
  "log": {
    "_recordingName": "auth-failure",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "83455271929107be964469383aa1d741",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 165,
            "text": "{\"error_type\":\"UNAUTHENTICATED\",\"messages\":[{\"args\":[],\"default_message\":\"Authentication required.\",\"id\":\"com.vmware.vapi.endpoint.method.authentication.required\"}]}"
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Basic realm=\"VAPI endpoint\",SIGN realm=c0b23a0c510d23ef69484f3e8d0f408c6418dae22e7cb35e2281906676ec55e1,service=\"VAPI endpoint\",sts=\"https://vcenter.sddc-3-21-90-150.vmwarevmc.com/sts/STSService/vmc.local\""
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 763,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
