{
  "log": {
    "_recordingName": "auth-failure",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "83455271929107be964469383aa1d741",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://vcenter.sddc-3-22-87-77.vmwarevmc.com/api/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 165,
            "text": "\"REDACTED\""
          },
          "headers": [
            {
              "name": "www-authenticate",
              "value": "Basic realm=\"VAPI endpoint\",SIGN realm=40329265e0e55860e54f9d9b9818069500f0b7df6d59889d6ca12b2e383a8e66,service=\"VAPI endpoint\",sts=\"https://vcenter.sddc-3-22-87-77.vmwarevmc.com/sts/STSService/vmc.local\""
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 167,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
