{
  "log": {
    "_recordingName": "fetch-vm ",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "83455271929107be964469383aa1d741",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "\"REDACTED\""
          },
          "headers": [
            {
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 630,
      },
      {
        "_id": "02095ab6fcc0e628014b5fc72860a958",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/rest/appliance/system/version/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 271,
            "text": "{\"value\":{\"summary\":\"VMware vCenter Server 8.0\",\"install_time\":\"2023-02-06T13:54:09.197Z\",\"product\":\"VMware vCenter Server\",\"build\":\"20432146\",\"releasedate\":\"October 11, 2022\",\"type\":\"vCenter Server with an embedded Platform Services Controller\",\"version\":\"8.0.0.10000\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 160,
      },
      {
        "_id": "2bdeeaada963c0d4c437fd9156842f18",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/datacenter"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 56,
            "text": "[{\"name\":\"SDDC-Datacenter\",\"datacenter\":\"datacenter-3\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 300,
      },
      {
        "_id": "24d88abca67d7f0f99285a7841df69df",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/host"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 97,
            "text": "[{\"host\":\"host-14\",\"name\":\"10.2.32.4\",\"connection_state\":\"CONNECTED\",\"power_state\":\"POWERED_ON\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 111,
      },
      {
        "_id": "01be8eae17d7b121b3b7bedc4be15498",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/vm"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 605,
            "text": "[{\"memory_size_MiB\":28672,\"vm\":\"vm-20\",\"name\":\"vcenter\",\"power_state\":\"POWERED_ON\",\"cpu_count\":8},{\"memory_size_MiB\":24576,\"vm\":\"vm-21\",\"name\":\"NSX-Manager-2\",\"power_state\":\"POWERED_ON\",\"cpu_count\":4},{\"memory_size_MiB\":24576,\"vm\":\"vm-22\",\"name\":\"NSX-Manager-1\",\"power_state\":\"POWERED_ON\",\"cpu_count\":4},{\"memory_size_MiB\":24576,\"vm\":\"vm-23\",\"name\":\"NSX-Manager-0\",\"power_state\":\"POWERED_ON\",\"cpu_count\":4},{\"memory_size_MiB\":8192,\"vm\":\"vm-43\",\"name\":\"NSX-Edge-1\",\"power_state\":\"POWERED_ON\",\"cpu_count\":4},{\"memory_size_MiB\":8192,\"vm\":\"vm-44\",\"name\":\"NSX-Edge-0\",\"power_state\":\"POWERED_ON\",\"cpu_count\":4}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 119,
      },
      {
        "_id": "5c4041c17cb16897ae8978e0fd9b9e35",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/vm/vm-20/guest/identity"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 240,
            "text": "{\"full_name\":{\"args\":[],\"default_message\":\"VMware Photon OS (64-bit)\",\"id\":\"vmsg.guestos.vmwarePhoton64Guest.label\"},\"name\":\"VMWARE_PHOTON_64\",\"ip_address\":\"10.2.224.4\",\"family\":\"LINUX\",\"host_name\":\"vcenter.sddc-3-13-222-187.vmwarevmc.com\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 137,
      },
      {
        "_id": "aa63f2f4e7968e25ec249cc881fbb3c5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
  [...]
