{
  "log": {
    "_recordingName": "fetch-network",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "83455271929107be964469383aa1d741",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "\"REDACTED\""
          },
          "headers": [
            {
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 311,
      },
      {
        "_id": "02095ab6fcc0e628014b5fc72860a958",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/rest/appliance/system/version/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 271,
            "text": "{\"value\":{\"summary\":\"VMware vCenter Server 8.0\",\"install_time\":\"2023-02-06T13:54:09.197Z\",\"product\":\"VMware vCenter Server\",\"build\":\"20432146\",\"releasedate\":\"October 11, 2022\",\"type\":\"vCenter Server with an embedded Platform Services Controller\",\"version\":\"8.0.0.10000\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 259,
      },
      {
        "_id": "2bdeeaada963c0d4c437fd9156842f18",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/datacenter"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 56,
            "text": "[{\"name\":\"SDDC-Datacenter\",\"datacenter\":\"datacenter-3\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 305,
      },
      {
        "_id": "24d88abca67d7f0f99285a7841df69df",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/host"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 97,
            "text": "[{\"host\":\"host-14\",\"name\":\"10.2.32.4\",\"connection_state\":\"CONNECTED\",\"power_state\":\"POWERED_ON\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 113,
      },
      {
        "_id": "47fe5655cc7d5114543fe25ce6243ad0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/network"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 2144,
            "text": "[{\"name\":\"vmcd-backplane-ls\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-57\"},{\"name\":\"sddc-cgw-network-1\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-46\"},{\"name\":\"none\",\"type\":\"STANDARD_PORTGROUP\",\"network\":\"network-45\"},{\"name\":\"vdrp-backplane-ls\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-53\"},{\"name\":\"vdrc-backplane-ls\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-54\"},{\"name\":\"public-ls\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-30\"},{\"name\":\"[...]
