{
  "log": {
    "_recordingName": "fetch-data-center",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "83455271929107be964469383aa1d741",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "\"REDACTED\""
          },
          "headers": [
            {
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 299,
      },
      {
        "_id": "02095ab6fcc0e628014b5fc72860a958",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/rest/appliance/system/version/"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 271,
            "text": "{\"value\":{\"summary\":\"VMware vCenter Server 8.0\",\"install_time\":\"2023-02-06T13:54:09.197Z\",\"product\":\"VMware vCenter Server\",\"build\":\"20432146\",\"releasedate\":\"October 11, 2022\",\"type\":\"vCenter Server with an embedded Platform Services Controller\",\"version\":\"8.0.0.10000\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 272,
      },
      {
        "_id": "2bdeeaada963c0d4c437fd9156842f18",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/datacenter"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 56,
            "text": "[{\"name\":\"SDDC-Datacenter\",\"datacenter\":\"datacenter-3\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 295,
      },
      {
        "_id": "b63caa481b2da2a461a15a41f5d860a6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/rest/com/vmware/cis/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 44,
            "text": "{\"value\":\"04b767e848f99f89d97196296cda1201\"}"
          },
            {
              "httpOnly": true,
              "name": "vmware-api-session-id",
              "path": "/api",
              "secure": true,
              "value": "[REDACTED]"
            }
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 693,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
