{
  "log": {
    "_recordingName": "get-vm",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "364311b167d92679bd9186a9a62a26c0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-22-87-77.vmwarevmc.com/api/vcenter/vm/vm-22"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1832,
            "text": "{\"instant_clone_frozen\":false,\"cdroms\":{},\"memory\":{\"hot_add_increment_size_MiB\":0,\"size_MiB\":24576,\"hot_add_enabled\":false,\"hot_add_limit_MiB\":24576},\"disks\":{\"2000\":{\"scsi\":{\"bus\":0,\"unit\":0},\"backing\":{\"vmdk_file\":\"[vsanDatastore] 4cd8cf63-c74b-121b-9836-069982054628/NSX-Manager-1.vmdk\",\"type\":\"VMDK_FILE\"},\"label\":\"Hard disk 1\",\"type\":\"SCSI\",\"capacity\":214748364800},\"2001\":{\"scsi\":{\"bus\":0,\"unit\":1},\"backing\":{\"vmdk_file\":\"[vsanDatastore] 4cd8cf63-c74b-121b-9836-069982054628/NSX-Manager-1_1.vmdk\",\"type\":\"VMDK_FILE\"},\"label\":\"Hard disk 2\",\"type\":\"SCSI\",\"capacity\":107374182400}},\"parallel_ports\":{},\"sata_adapters\":{},\"cpu\":{\"hot_remove_enabled\":false,\"count\":4,\"hot_add_enabled\":false,\"cores_per_socket\":1},\"scsi_adapters\":{\"1000\":{\"scsi\":{\"bus\":0,\"unit\":7},\"label\":\"SCSI controller 0\",\"sharing\":\"NONE\",\"type\":\"LSILOGIC\"}},\"power_state\":\"POWERED_ON\",\"floppies\":{},\"identity\":{\"name\":\"NSX-Manager-1\",\"instance_uuid\":\"52e44b09-5d8d-cd7b-fec4-08f8ef30820d\",\"bios_uuid\":\"564d764f-ab33-0174-006f-8d1d73450206\"},\"nvme_adapters\":{},\"name\":\"NSX-Manager-1\",\"nics\":{\"4000\":{\"start_connected\":true,\"pci_slot_number\":160,\"upt_v2_compatibility_enabled\":false,\"backing\":{\"connection_cookie\":1674567302,\"distributed_port\":\"a979d7ad-da3a-4038-a864-620f9a13edf9\",\"distributed_switch_uuid\":\"30 96 f6 04 9b e8 11 ed-84 9c 1f 96 da c5 72 25\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-26\"},\"mac_address\":\"00:50:56:8a:ec:9c\",\"mac_type\":\"ASSIGNED\",\"allow_guest_control\":true,\"wake_on_lan_enabled\":true,\"label\":\"Network adapter 1\",\"state\":\"CONNECTED\",\"type\":\"VMXNET3\",\"upt_compatibility_enabled\":true}},\"boot\":{\"delay\":0,\"retry_delay\":10000,\"enter_setup_mode\":false,\"type\":\"BIOS\",\"retry\":false},\"serial_ports\":{},\"boot_devices\":[],\"guest_OS\":\"UBUNTU_64\",\"hardware\":{\"upgrade_policy\":\"NEVER\",\"upgrade_status\":\"NONE\",\"version\":\"VMX_13\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 141,
      },
      {
        "_id": "f1fbac143265f49ae90bfe66d65065bb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-22-87-77.vmwarevmc.com/api/vcenter/vm/vm-23"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 5268,
            "text": "{\"instant_clone_frozen\":false,\"cdroms\":{\"3000\":{\"start_connected\":false,\"backing\":{\"auto_detect\":false,\"device_access_type\":\"EMULATION\",\"host_device\":\"CD/DVD drive 0\",\"type\":\"HOST_DEVICE\"},\"allow_guest_control\":true,\"ide\":{\"master\":true,\"primary\":true},\"label\":\"CD/DVD drive 1\",\"state\":\"NOT_CONNECTED\",\"type\":\"IDE\"}},\"memory\":{\"hot_add_increment_size_MiB\":128,\"size_MiB\":28672,\"hot_add_enabled\":true,\"hot_add_limit_MiB\":458752},\"disks\":{\"2000\":{\"scsi\":{\"bus\":0,\"unit\":0},\"backing\":{\"vmdk_file\":\"[vsanDatastore] 4fd8cf63-ccf1-94f3-202b-069982054628/vcenter.vmdk\",\"type\":\"VMDK_FILE\"},\"label\":\"Hard disk 1\",\"type\":\"SCSI\",\"capacity\":52143587328},\"2001\":{\"scsi\":{\"bus\":0,\"unit\":1},\"backing\"[...]
