{
  "log": {
    "_recordingName": "get-vm",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "83455271929107be964469383aa1d741",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "\"[REDACTED]\""
          },
          "headers": [
            {
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 833,
      },
      {
        "_id": "66910119f6d25d512ad2b0d3d5c4d923",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/vcenter/vm/vm-20"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1832,
            "text": "{\"instant_clone_frozen\":false,\"cdroms\":{},\"memory\":{\"hot_add_increment_size_MiB\":0,\"size_MiB\":24576,\"hot_add_enabled\":false,\"hot_add_limit_MiB\":24576},\"disks\":{\"2000\":{\"scsi\":{\"bus\":0,\"unit\":0},\"backing\":{\"vmdk_file\":\"[vsanDatastore] 35bfa062-13dd-db09-891e-0630dbb8463a/NSX-Manager-1.vmdk\",\"type\":\"VMDK_FILE\"},\"label\":\"Hard disk 1\",\"type\":\"SCSI\",\"capacity\":214748364800},\"2001\":{\"scsi\":{\"bus\":0,\"unit\":1},\"backing\":{\"vmdk_file\":\"[vsanDatastore] 35bfa062-13dd-db09-891e-0630dbb8463a/NSX-Manager-1_1.vmdk\",\"type\":\"VMDK_FILE\"},\"label\":\"Hard disk 2\",\"type\":\"SCSI\",\"capacity\":107374182400}},\"parallel_ports\":{},\"sata_adapters\":{},\"cpu\":{\"hot_remove_enabled\":false,\"count\":4,\"hot_add_enabled\":false,\"cores_per_socket\":1},\"scsi_adapters\":{\"1000\":{\"scsi\":{\"bus\":0,\"unit\":7},\"label\":\"SCSI controller 0\",\"sharing\":\"NONE\",\"type\":\"LSILOGIC\"}},\"power_state\":\"POWERED_ON\",\"floppies\":{},\"identity\":{\"name\":\"NSX-Manager-1\",\"instance_uuid\":\"527cc0cb-0519-e2a7-3249-c6a2e3ff2224\",\"bios_uuid\":\"564d2aa9-e231-5cb7-03f9-8c459517d9d2\"},\"nvme_adapters\":{},\"name\":\"NSX-Manager-1\",\"nics\":{\"4000\":{\"start_connected\":true,\"pci_slot_number\":160,\"upt_v2_compatibility_enabled\":false,\"backing\":{\"connection_cookie\":1654703430,\"distributed_port\":\"faa72919-c4bf-4cda-ab39-605f771efb6d\",\"distributed_switch_uuid\":\"18 27 e1 cb e7 3f 11 ec-95 cb 6b bc 6d 78 6c f9\",\"type\":\"DISTRIBUTED_PORTGROUP\",\"network\":\"dvportgroup-26\"},\"mac_address\":\"00:50:56:8c:43:21\",\"mac_type\":\"ASSIGNED\",\"allow_guest_control\":true,\"wake_on_lan_enabled\":true,\"label\":\"Network adapter 1\",\"state\":\"CONNECTED\",\"type\":\"VMXNET3\",\"upt_compatibility_enabled\":true}},\"boot\":{\"delay\":0,\"retry_delay\":10000,\"enter_setup_mode\":false,\"type\":\"BIOS\",\"retry\":false},\"serial_ports\":{},\"boot_devices\":[],\"guest_OS\":\"UBUNTU_64\",\"hardware\":{\"upgrade_policy\":\"NEVER\",\"upgrade_status\":\"NONE\",\"version\":\"VMX_13\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 771,
      },
      {
        "_id": "5f43bdf40f48676c04bbfb0d53a09cb2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
             [...]
