{
  "log": {
    "_recordingName": "get-datastore",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "3101296a8850cacec0f3fb04c04f2a4d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-22-87-77.vmwarevmc.com/api/vcenter/datastore/datastore-17"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 147,
            "text": "{\"accessible\":true,\"multiple_host_access\":false,\"name\":\"vsanDatastore\",\"type\":\"VSAN\",\"free_space\":8038656108366,\"thin_provisioning_supported\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 146,
      },
      {
        "_id": "08adebace2294552232b56cef44d52f2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-22-87-77.vmwarevmc.com/api/vcenter/datastore/datastore-40"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 151,
            "text": "{\"accessible\":true,\"multiple_host_access\":false,\"name\":\"WorkloadDatastore\",\"type\":\"VSAN\",\"free_space\":8038656108366,\"thin_provisioning_supported\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 143,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
