{
  "log": {
    "_recordingName": "get-datastore",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "83455271929107be964469383aa1d741",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "\"[REDACTED]\""
          },
          "headers": [
            {
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 855,
      },
      {
        "_id": "3101296a8850cacec0f3fb04c04f2a4d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/vcenter/datastore/datastore-17"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 147,
            "text": "{\"accessible\":true,\"multiple_host_access\":false,\"name\":\"vsanDatastore\",\"type\":\"VSAN\",\"free_space\":7826362770327,\"thin_provisioning_supported\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 940,
      },
      {
        "_id": "7a8de7ccb3638585c4c873cb31cffed4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/vcenter/datastore/datastore-48"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 151,
            "text": "{\"accessible\":true,\"multiple_host_access\":false,\"name\":\"WorkloadDatastore\",\"type\":\"VSAN\",\"free_space\":7826362770327,\"thin_provisioning_supported\":true}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 877,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
