{
  "log": {
    "_recordingName": "iterate-vms",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "83455271929107be964469383aa1d741",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://vcenter.sddc-3-22-87-77.vmwarevmc.com/api/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "\"REDACTED\""
          },
          "headers": [
            {
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 462,
      },
      {
        "_id": "01be8eae17d7b121b3b7bedc4be15498",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-22-87-77.vmwarevmc.com/api/vcenter/vm"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 605,
            "text": "[{\"memory_size_MiB\":24576,\"vm\":\"vm-20\",\"name\":\"NSX-Manager-0\",\"power_state\":\"POWERED_ON\",\"cpu_count\":4},{\"memory_size_MiB\":24576,\"vm\":\"vm-21\",\"name\":\"NSX-Manager-2\",\"power_state\":\"POWERED_ON\",\"cpu_count\":4},{\"memory_size_MiB\":24576,\"vm\":\"vm-22\",\"name\":\"NSX-Manager-1\",\"power_state\":\"POWERED_ON\",\"cpu_count\":4},{\"memory_size_MiB\":28672,\"vm\":\"vm-23\",\"name\":\"vcenter\",\"power_state\":\"POWERED_ON\",\"cpu_count\":8},{\"memory_size_MiB\":8192,\"vm\":\"vm-43\",\"name\":\"NSX-Edge-1\",\"power_state\":\"POWERED_ON\",\"cpu_count\":4},{\"memory_size_MiB\":8192,\"vm\":\"vm-44\",\"name\":\"NSX-Edge-0\",\"power_state\":\"POWERED_ON\",\"cpu_count\":4}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 645,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
