{
  "log": {
    "_recordingName": "invalid-cluster-query-distributed-switches",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "83455271929107be964469383aa1d741",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "\"[REDACTED]\""
          },
          "headers": [
            {
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 847,
      },
      {
        "_id": "78122204cbba04e49b0c6d94bd2ecf75",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "cluster",
              "value": "invalid"
            }
          ],
          "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/vcenter/namespace-management/distributed-switch-compatibility?cluster=invalid"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 161,
            "text": "{\"messages\":[{\"args\":[\"invalid\"],\"default_message\":\"The ClusterComputeResource with identifier invalid does not exist.\",\"id\":\"vcenter.wcp.vc.cluster.notfound\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 855,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
