{
  "log": {
    "_recordingName": "iterate-distributed-switch",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "aa177134990237b37d9d7973e4c33fca",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "cluster",
              "value": "domain-c35"
            },
            {
              "name": "network_provider",
              "value": "VSPHERE_NETWORK"
            }
          ],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/namespace-management/distributed-switch-compatibility?cluster=domain-c35&network_provider=VSPHERE_NETWORK"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 164,
            "text": "[{\"compatible\":true,\"incompatibility_reasons\":[],\"distributed_switch\":\"89 a9 16 ae a6 23 11 ed-b5 02 6b ef 1d 46 08 6f\",\"network_provider\":\"NSXT_CONTAINER_PLUGIN\"}]"
          },
          "headers": [
            {
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 10,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
