{
  "log": {
    "_recordingName": "iterate-distributed-switch",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "ade16a764512ac5a08b3bc6a8f63962b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "cluster",
              "value": "domain-c35"
            }
          ],
          "url": "https://vcenter.sddc-3-22-87-77.vmwarevmc.com/api/vcenter/namespace-management/distributed-switch-compatibility?cluster=domain-c35"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 164,
            "text": "[{\"compatible\":true,\"incompatibility_reasons\":[],\"distributed_switch\":\"30 96 f6 04 9b e8 11 ed-84 9c 1f 96 da c5 72 25\",\"network_provider\":\"NSXT_CONTAINER_PLUGIN\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 508,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
