{
  "log": {
    "_recordingName": "iterate-distributed-switch",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "83455271929107be964469383aa1d741",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "\"[REDACTED]\""
          },
          "headers": [
            {
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 822,
      },
      {
        "_id": "253e95fe1b9cc89936f078f1812d7ace",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "cluster",
              "value": "domain-c43"
            }
          ],
          "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/vcenter/namespace-management/distributed-switch-compatibility?cluster=domain-c43"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 164,
            "text": "[{\"compatible\":true,\"incompatibility_reasons\":[],\"distributed_switch\":\"18 27 e1 cb e7 3f 11 ec-95 cb 6b bc 6d 78 6c f9\",\"network_provider\":\"NSXT_CONTAINER_PLUGIN\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1675,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
