{
  "log": {
    "_recordingName": "iterate-namespace",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b9724a09ef21f78e7eb8154a1187e1cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-13-222-187.vmwarevmc.com/api/vcenter/namespaces-user/namespaces"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 71,
            "text": "[{\"control_plane_api_server_port\":443,\"master_host\":\"\",\"namespace\":\"\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 189,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
