{
  "log": {
    "_recordingName": "iterate-namespace",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "83455271929107be964469383aa1d741",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/session"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 34,
            "text": "\"[REDACTED]\""
          },
          "headers": [
            {
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 201,
          "statusText": "Created"
        },
        "time": 903,
      },
      {
        "_id": "b9724a09ef21f78e7eb8154a1187e1cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "vmware-api-session-id",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://vcenter.sddc-3-21-90-150.vmwarevmc.com/api/vcenter/namespaces-user/namespaces"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 71,
            "text": "[{\"control_plane_api_server_port\":443,\"master_host\":\"\",\"namespace\":\"\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 905,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
